# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 25.3.1
absl-py=2.3.1=pypi_0
accelerate=1.11.0=pypi_0
aiofiles=24.1.0=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.13.1=pypi_0
aioice=0.10.1=pypi_0
aiosignal=1.4.0=pypi_0
alembic=1.16.5=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.11.0=pypi_0
aria2=0.0.1b0=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.3=pypi_0
attrs=25.3.0=pypi_0
av=16.0.1=pypi_0
aws-c-auth=0.9.3=h2970c50_0
aws-c-cal=0.9.13=h46f3b43_1
aws-c-common=0.12.6=hfd05255_0
aws-c-compression=0.3.1=hcb3a2da_9
aws-c-event-stream=0.5.7=ha388e84_1
aws-c-http=0.10.7=hc678f4a_5
aws-c-io=0.23.3=h0d5b9f9_5
aws-c-mqtt=0.13.3=hfa314fa_11
aws-c-s3=0.11.3=ha659bf3_1
aws-c-sdkutils=0.2.4=hcb3a2da_4
aws-checksums=0.2.7=hcb3a2da_5
aws-crt-cpp=0.35.4=hca034e6_0
aws-sdk-cpp=1.11.606=hac16450_10
backoff=2.2.1=pypi_0
backports.zstd=1.3.0=py310h458dff3_0
bcrypt=4.3.0=pypi_0
beautifulsoup4=4.14.3=pypi_0
bidict=0.23.1=pypi_0
bioc=2.1=pypi_0
bitsandbytes=0.48.2=pypi_0
bleach=6.4.0=pypi_0
blinker=1.9.0=pypi_0
blis=1.3.0=pypi_0
boto3=1.40.44=pypi_0
botocore=1.40.44=pypi_0
brotli-python=1.2.0=py310hfff998d_1
build=1.3.0=pypi_0
bzip2=1.0.8=h0ad9c76_8
c-ares=1.34.6=hfd05255_0
ca-certificates=2026.1.4=h4c7d964_0
cachetools=5.5.2=pypi_0
catalogue=2.0.10=pypi_0
certifi=2025.8.3=pypi_0
cffi=2.0.0=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.4.3=pypi_0
chromadb=1.1.0=pypi_0
click=8.3.0=pypi_0
cloudpathlib=0.22.0=pypi_0
cmdstanpy=1.2.5=pypi_0
colorama=0.4.6=pyhd8ed1ab_1
coloredlogs=15.0.1=pypi_0
comtypes=1.4.14=pypi_0
confection=0.1.5=pypi_0
conllu=4.5.3=pypi_0
contourpy=1.3.2=pypi_0
cryptography=46.0.2=pypi_0
cssselect2=0.8.0=pypi_0
cycler=0.12.1=pypi_0
cymem=2.0.11=pypi_0
dataclasses=0.8=pyhc8e2a94_3
dataclasses-json=0.6.7=pypi_0
datasets=4.4.2=py_0
deprecated=1.2.18=pypi_0
dill=0.4.0=pyhcf101f3_1
distro=1.9.0=pypi_0
dnspython=2.8.0=pypi_0
docopt=0.6.2=pypi_0
docx2txt=0.9=pypi_0
durationpy=0.10=pypi_0
editdistpy=0.1.6=pypi_0
emoji=2.15.0=pypi_0
en-core-web-sm=3.8.0=pypi_0
et-xmlfile=2.0.0=pypi_0
exceptiongroup=1.3.0=pypi_0
filelock=3.19.1=pypi_0
filetype=1.2.0=pypi_0
filterpy=1.4.5=pypi_0
flair=0.15.1=pypi_0
flask=3.1.2=pypi_0
flask-cors=6.0.1=pypi_0
flask-jwt-extended=4.7.1=pypi_0
flask-limiter=4.0.0=pypi_0
flask-mail=0.10.0=pypi_0
flask-migrate=4.1.0=pypi_0
flask-socketio=5.5.1=pypi_0
flask-sqlalchemy=3.0.5=pypi_0
flatbuffers=25.9.23=pypi_0
fonttools=4.60.1=pypi_0
fpdf=1.7.2=pypi_0
frozenlist=1.8.0=pypi_0
fsspec=2025.9.0=pypi_0
ftfy=6.3.1=pypi_0
gast=0.6.0=pypi_0
gdown=5.2.1=pypi_0
gevent=25.9.1=pypi_0
gevent-websocket=0.10.1=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.46=pypi_0
google-api-core=2.25.2=pypi_0
google-auth=2.40.3=pypi_0
google-cloud-vision=3.10.2=pypi_0
google-crc32c=1.7.1=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.70.0=pypi_0
greenlet=3.2.4=pypi_0
grpcio=1.75.1=pypi_0
grpcio-status=1.48.2=pypi_0
h11=0.16.0=pyhcf101f3_1
h2=4.3.0=pyhcf101f3_0
h5py=3.15.0=pypi_0
hf-transfer=0.1.9=pypi_0
hf-xet=1.2.0=pypi_0
holidays=0.82=pypi_0
hpack=4.1.0=pyhd8ed1ab_0
html5lib=1.1=pypi_0
httpcore=1.0.9=pyh29332c3_0
httptools=0.6.4=pypi_0
httpx=0.28.1=pyhd8ed1ab_0
huggingface-hub=0.35.1=pypi_0
huggingface_hub=0.29.2=py_0
humanfriendly=10.0=pypi_0
hyperframe=6.1.0=pyhd8ed1ab_0
icu=78.2=h637d24d_0
idna=3.7=pypi_0
ifaddr=0.2.0=pypi_0
imageio=2.37.2=pypi_0
importlib-metadata=8.7.0=pypi_0
importlib-resources=6.5.2=pypi_0
inquirerpy=0.3.4=pypi_0
intervaltree=3.2.1=pypi_0
itsdangerous=2.2.0=pypi_0
jax=0.6.2=pypi_0
jaxlib=0.6.2=pypi_0
jinja2=3.1.6=pypi_0
jiter=0.14.0=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.5.2=pypi_0
jsonlines=4.0.0=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.25.1=pypi_0
jsonschema-specifications=2025.9.1=pypi_0
kaggle=1.7.4.5=pypi_0
kagglehub=1.0.2=pypi_0
kagglesdk=0.1.28=pypi_0
keras=3.11.3=pypi_0
kiwisolver=1.4.9=pypi_0
krb5=1.21.3=hdf4eb48_0
kubernetes=33.1.0=pypi_0
langchain=0.1.0=pypi_0
langchain-community=0.0.20=pypi_0
langchain-core=0.1.23=pypi_0
langchain-text-splitters=1.1.0=pypi_0
langcodes=3.5.0=pypi_0
langdetect=1.0.9=pypi_0
langgraph=1.0.5=pypi_0
langgraph-checkpoint=3.0.1=pypi_0
langgraph-prebuilt=1.0.5=pypi_0
langgraph-sdk=0.3.1=pypi_0
langsmith=0.0.87=pypi_0
language-data=1.3.0=pypi_0
lazy-loader=0.4=pypi_0
levenshtein=0.27.1=pypi_0
libabseil=20250512.1=cxx17_habfad5f_0
libarrow=22.0.0=h89d7da9_6_cpu
libarrow-acero=22.0.0=h7d8d6a5_6_cpu
libarrow-compute=22.0.0=h2db994a_6_cpu
libarrow-dataset=22.0.0=h7d8d6a5_6_cpu
libarrow-substrait=22.0.0=hf865cc0_6_cpu
libblas=3.11.0=5_hf2e6a31_mkl
libbrotlicommon=1.2.0=hfd05255_1
libbrotlidec=1.2.0=hfd05255_1
libbrotlienc=1.2.0=hfd05255_1
libcblas=3.11.0=5_h2a3cdd5_mkl
libclang=18.1.1=pypi_0
libcrc32c=1.1.2=h0e60522_0
libcurl=8.18.0=h43ecb02_0
libevent=2.1.12=h3671451_1
libexpat=2.7.1=hac47afa_0
libffi=3.4.6=h537db12_1
libgoogle-cloud=2.39.0=h19ee442_0
libgoogle-cloud-storage=2.39.0=he04ea4c_0
libgrpc=1.73.1=h317e13b_1
libhwloc=2.12.2=default_h4379cf1_1000
libiconv=1.18=hc1393d2_2
liblapack=3.11.0=5_hf9ab0e9_mkl
liblzma=5.8.1=h2466b09_2
libparquet=22.0.0=h7051d1f_6_cpu
libprotobuf=6.31.1=hdcda5b4_4
libre2-11=2025.11.05=h0eb2380_0
libsqlite=3.50.4=hf5d6505_0
libssh2=1.11.1=h9aa295b_0
libthrift=0.22.0=h23985f6_1
libutf8proc=2.11.2=hb980946_0
libwinpthread=12.0.0.r4.gg4f2fc60ca=h57928b3_10
libxml2=2.15.1=h779ef1b_1
libxml2-16=2.15.1=h3cfd58e_1
libzlib=1.3.1=h2466b09_2
limits=5.6.0=pypi_0
llvm-openmp=21.1.8=h4fa8253_0
lxml=6.0.2=pypi_0
lz4-c=1.10.0=h2466b09_1
mako=1.3.10=pypi_0
marisa-trie=1.3.1=pypi_0
markdown=3.9=pypi_0
markdown-it-py=4.0.0=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.26.2=pypi_0
matplotlib=3.10.7=pypi_0
mdurl=0.1.2=pypi_0
mkl=2025.3.0=hac47afa_455
ml-dtypes=0.5.3=pypi_0
mmh3=5.2.0=pypi_0
more-itertools=10.8.0=pypi_0
mpld3=0.5.12=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.7.0=pypi_0
multiprocess=0.70.18=py310h1637853_2
murmurhash=1.0.13=pypi_0
mypy-extensions=1.1.0=pypi_0
namex=0.1.0=pypi_0
narwhals=2.8.0=pypi_0
networkx=3.4.2=pypi_0
nltk=3.9.2=pypi_0
numpy=2.2.6=py310h4987827_0
oauthlib=3.3.1=pypi_0
olefile=0.47=pypi_0
onnxruntime=1.22.1=pypi_0
openai=2.36.0=pypi_0
opencv-contrib-python=4.12.0.88=pypi_0
opencv-python=4.12.0.88=pypi_0
opencv-python-headless=4.10.0.84=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.6.0=h725018a_0
opentelemetry-api=1.37.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.37.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.37.0=pypi_0
opentelemetry-proto=1.37.0=pypi_0
opentelemetry-sdk=1.37.0=pypi_0
opentelemetry-semantic-conventions=0.58b0=pypi_0
opt-einsum=3.4.0=pypi_0
optree=0.17.0=pypi_0
orc=2.2.1=h7414dfc_0
ordered-set=4.1.0=pypi_0
orjson=3.11.3=pypi_0
ormsgpack=1.12.1=pypi_0
overrides=7.7.0=pypi_0
packaging=23.2=pypi_0
pandas=2.3.3=py310hed136d8_2
paypalrestsdk=1.13.3=pypi_0
paystackapi=2.1.3=pypi_0
pdf2image=1.17.0=pypi_0
pdfminer-six=20250506=pypi_0
pdfplumber=0.11.7=pypi_0
pfzy=0.3.4=pypi_0
pi-heif=1.1.1=pypi_0
pillow=11.3.0=pypi_0
pillow-avif-plugin=1.5.2=pypi_0
pip=25.2=pyh8b19718_0
plotly=6.3.1=pypi_0
polars=1.34.0=pypi_0
polars-runtime-32=1.34.0=pypi_0
posthog=5.4.0=pypi_0
pptree=3.1=pypi_0
preshed=3.0.10=pypi_0
prompt-toolkit=3.0.52=pypi_0
propcache=0.4.1=pypi_0
prophet=1.1.7=pypi_0
proto-plus=1.26.1=pypi_0
protobuf=5.28.3=pypi_0
psutil=7.1.0=pypi_0
psycopg2-binary=2.9.10=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=22.0.0=py310h5588dad_0
pyarrow-core=22.0.0=py310hb6ca4c2_0_cpu
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.2=pypi_0
pybase64=1.4.2=pypi_0
pycparser=2.23=pypi_0
pydantic=2.11.9=pypi_0
pydantic-core=2.33.2=pypi_0
pydyf=0.12.1=pypi_0
pyee=13.0.0=pypi_0
pygments=2.19.2=pypi_0
pyjwt=2.10.1=pypi_0
pylibsrtp=1.0.0=pypi_0
pymupdf=1.26.7=pypi_0
pymysql=1.1.2=pypi_0
pyopenssl=25.3.0=pypi_0
pyparsing=3.2.5=pypi_0
pypdf=6.5.0=pypi_0
pypdf2=3.0.1=pypi_0
pypdfium2=4.30.0=pypi_0
pyphen=0.17.2=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.2.0=pypi_0
pyreadline3=3.5.4=pypi_0
pysocks=1.7.1=pyh09c184e_7
pytesseract=0.3.13=pypi_0
python=3.10.18=h8c5b53a_0_cpython
python-dateutil=2.9.0.post0=pyhe01879c_2
python-docx=1.2.0=pypi_0
python-dotenv=1.1.1=pypi_0
python-engineio=4.12.3=pypi_0
python-iso639=2025.11.16=pypi_0
python-magic=0.4.27=pypi_0
python-magic-bin=0.4.14=pypi_0
python-oxmsg=0.0.2=pypi_0
python-pptx=1.0.2=pypi_0
python-slugify=8.0.4=pypi_0
python-socketio=5.14.1=pypi_0
python-tzdata=2025.3=pyhd8ed1ab_0
python-xxhash=3.6.0=py310hda3e71d_1
python_abi=3.10=8_cp310
pytorch-revgrad=0.2.0=pypi_0
pytz=2025.2=pyhd8ed1ab_0
pywin32=311=pypi_0
pyyaml=6.0.2=pypi_0
rapidfuzz=3.14.1=pypi_0
re2=2025.11.05=ha104f34_0
redis=6.4.0=pypi_0
referencing=0.36.2=pypi_0
regex=2025.9.18=pypi_0
reportlab=4.4.4=pypi_0
requests=2.32.5=pyhcf101f3_1
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
rich=14.1.0=pypi_0
roboflow=1.2.11=pypi_0
rpds-py=0.27.1=pypi_0
rsa=4.9.1=pypi_0
s3transfer=0.14.0=pypi_0
sacremoses=0.1.1=pypi_0
safetensors=0.6.2=pypi_0
scikit-image=0.25.2=pypi_0
scikit-learn=1.7.2=pypi_0
scipy=1.15.3=pypi_0
seaborn=0.13.2=pypi_0
segtok=1.5.11=pypi_0
sentence-transformers=5.1.1=pypi_0
sentry-sdk=2.39.0=pypi_0
setuptools=80.9.0=pyhff2d567_0
shellingham=1.5.4=pypi_0
simple-websocket=1.1.0=pypi_0
six=1.17.0=pyhe01879c_1
smart-open=7.3.1=pypi_0
smmap=5.0.3=pypi_0
snappy=1.2.2=h7fa0ca8_1
sniffio=1.3.1=pyhd8ed1ab_2
sortedcontainers=2.4.0=pypi_0
sounddevice=0.5.2=pypi_0
soupsieve=2.8.1=pypi_0
spacy=3.8.7=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
sqlalchemy=2.0.43=pypi_0
sqlitedict=2.1.0=pypi_0
srsly=2.5.1=pypi_0
stanio=0.5.1=pypi_0
striprtf=0.0.29=pypi_0
sympy=1.14.0=pypi_0
symspellpy=6.9.0=pypi_0
tabulate=0.9.0=pypi_0
tbb=2022.3.0=h3155e25_2
tenacity=8.5.0=pypi_0
tensorboard=2.20.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.20.0=pypi_0
termcolor=3.1.0=pypi_0
text-unidecode=1.3=pypi_0
tf-keras=2.20.1=pypi_0
thinc=8.3.6=pypi_0
threadpoolctl=3.6.0=pypi_0
tifffile=2025.5.10=pypi_0
tinycss2=1.5.1=pypi_0
tinyhtml5=2.0.0=pypi_0
tk=8.6.13=h2c6b04d_2
tokenizers=0.22.1=pypi_0
tomli=2.2.1=pypi_0
torch=2.9.0=pypi_0
torchvision=0.24.0=pypi_0
tqdm=4.67.1=pyhd8ed1ab_1
transformer-smaller-training-vocab=0.4.2=pypi_0
transformers=4.56.2=pypi_0
tree-sitter=0.25.1=pypi_0
tree-sitter-languages=1.10.2=pypi_0
typer=0.19.2=pypi_0
typing-extensions=4.15.0=h396c80c_0
typing-inspect=0.9.0=pypi_0
typing-inspection=0.4.1=pypi_0
typing_extensions=4.15.0=pyhcf101f3_0
tzdata=2025.2=pypi_0
ucrt=10.0.26100.0=h57928b3_0
ultralytics=8.3.217=pypi_0
ultralytics-thop=2.0.17=pypi_0
unstructured=0.18.24=pypi_0
unstructured-client=0.42.6=pypi_0
urllib3=2.5.0=pypi_0
uuid-utils=0.12.0=pypi_0
uvicorn=0.37.0=pypi_0
vc=14.3=h41ae7f8_31
vc14_runtime=14.44.35208=h818238b_31
vcomp14=14.44.35208=h818238b_31
vs2015_runtime=14.44.35208=h38c0c73_31
wasabi=1.1.3=pypi_0
watchfiles=1.1.0=pypi_0
wcwidth=0.2.14=pypi_0
weasel=0.4.1=pypi_0
weasyprint=68.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
websockets=15.0.1=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.45.1=pyhd8ed1ab_1
wikipedia-api=0.9.0=pypi_0
win_inet_pton=1.1.0=pyh7428d3b_8
wrapt=1.17.3=pypi_0
wsproto=1.2.0=pypi_0
xgboost=3.0.5=pypi_0
xlrd=2.0.2=pypi_0
xlsxwriter=3.2.9=pypi_0
xlwt=1.3.0=pypi_0
xxhash=0.8.3=hbba6f48_0
yaml=0.2.5=h6a83c73_3
yarl=1.22.0=pypi_0
zipp=3.23.0=pypi_0
zope-event=6.0=pypi_0
zope-interface=8.0.1=pypi_0
zopfli=0.4.0=pypi_0
zstandard=0.25.0=pypi_0
zstd=1.5.7=h534d264_6
